<style> 
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap'); 

html * {
    font-family: "Ubuntu", sans-serif;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Ubuntu", sans-serif;
    border-style: solid;
    padding: 20px;
    background-color: #48cfba;
    margin: -10px;
    border-width: 10px;
    border-bottom: none;
}

.content-wrapper {
    display: flex;
    justify-content: center;
    align-self: center;
    width: auto;
    height: auto;
    background-color: #bff8f0;
    border-style: solid;
    border-width: 10px;
    margin: -10px;    
}

.content {
    display: flex;
    width: 600px;
    height: 1200px;
    background-color: #d1f8f3;
    font-family: "Ubuntu", sans-serif;
    border-style: solid;
    border-width: 8px;
    border-radius: 20px;
    margin: 20px;
    justify-content: center;
    
}

footer {
    display: flex;
    width: auto;
    height: 50px;
    align-items: center;
    background-color: #d3e8e5;
    margin: -10px;
    border-style: solid;
    border-width: 10px;
    border-top: none;
    
}

</style>